<div class="page-header">
  <h3>Target Firm #<%= @target_firm.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @target_firm.user.present? %>
          <a href="/users/<%= @target_firm.user_id %>">
            <%= @target_firm.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Firm</dt>
      <dd>
        <% if @target_firm.firm.present? %>
          <a href="/firms/<%= @target_firm.firm_id %>">
            <%= @target_firm.firm.name %>
          </a>
        <% end %>
      </dd>

      <dt>Touch goal</dt>
      <dd><%= @target_firm.touch_goal %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/target_firms" class="btn btn-primary">
        Back
      </a>
      <a href="/target_firms/<%= @target_firm.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_target_firm/<%= @target_firm.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
