<div class="page-header">
  <h3>Milestone #<%= @milestone.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Campus recruiting start</dt>
      <dd><%= @milestone.campus_recruiting_start %></dd>

      <dt>Closed events start</dt>
      <dd><%= @milestone.closed_events_start %></dd>

      <dt>Bankweek</dt>
      <dd><%= @milestone.bankweek %></dd>

      <dt>Interviews start</dt>
      <dd><%= @milestone.interviews_start %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/milestones" class="btn btn-primary">
        Back
      </a>
      <a href="/milestones/<%= @milestone.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_milestone/<%= @milestone.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
