<div class="page-header">
  <h3>Group #<%= @group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @group.name %></dd>

      <dt>School</dt>
      <dd><%= @group.school %></dd>

      <dt>Industry</dt>
      <dd><%= @group.industry %></dd>

      <dt>Open or closed</dt>
      <dd><%= @group.open_or_closed %></dd>

      <dt>Hidden or public</dt>
      <dd><%= @group.hidden_or_public %></dd>

      <dt>Password</dt>
      <dd><%= @group.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/groups" class="btn btn-primary">
        Back
      </a>
      <a href="/groups/<%= @group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group/<%= @group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group has many group_members -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group_members
      </li>

      <% @group.group_members.each do |group_member| %>
        <li class="list-group-item">
          <a href="/group_members/<%= group_member.id %>">
            <%= group_member.group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/group_members/<%= group_member.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/group_members/<%= group_member.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_group_member/<%= group_member.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_group_member" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for group_id -->
      <input type="hidden" name="group_id" value="<%= @group.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for is_admin -->
      <div class="checkbox">
        <label for="is_admin">
          <input type="checkbox" id="is_admin" name="is_admin" value="1" <%= "checked" if @group_member.is_admin %>>
          Is admin
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Group Member
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Group has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @group.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
