<div class="page-header">
  <h3>Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @contact.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @contact.last_name %></dd>

      <dt>Firm</dt>
      <dd><%= @contact.firm_id %></dd>

      <dt>Group</dt>
      <dd><%= @contact.group %></dd>

      <dt>Division</dt>
      <dd><%= @contact.division %></dd>

      <dt>Title</dt>
      <dd><%= @contact.title %></dd>

      <dt>Photo</dt>
      <dd><%= @contact.photo %></dd>

      <dt>Business card</dt>
      <dd><%= @contact.business_card %></dd>

      <dt>Email</dt>
      <dd><%= @contact.email %></dd>

      <dt>Phone number</dt>
      <dd><%= @contact.phone_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contacts" class="btn btn-primary">
        Back
      </a>
      <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Contact has many touchpoints -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Touchpoints
      </li>

      <% @contact.touchpoints.each do |touchpoint| %>
        <li class="list-group-item">
          <a href="/touchpoints/<%= touchpoint.id %>">
            <%= touchpoint.date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/touchpoints/<%= touchpoint.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/touchpoints/<%= touchpoint.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_touchpoint/<%= touchpoint.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Contact has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @contact.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
