<div class="page-header">
  <h3>Recruiting Event #<%= @recruiting_event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @recruiting_event.name %></dd>

      <dt>Location</dt>
      <dd><%= @recruiting_event.location %></dd>

      <dt>Address</dt>
      <dd><%= @recruiting_event.address %></dd>

      <dt>Date</dt>
      <dd><%= @recruiting_event.date %></dd>

      <dt>Start time</dt>
      <dd><%= @recruiting_event.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @recruiting_event.end_time %></dd>

      <dt>Closed</dt>
      <dd><%= @recruiting_event.closed %></dd>

      <dt>Firm</dt>
      <dd>
        <% if @recruiting_event.firm.present? %>
          <a href="/firms/<%= @recruiting_event.firm_id %>">
            <%= @recruiting_event.firm.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recruiting_events" class="btn btn-primary">
        Back
      </a>
      <a href="/recruiting_events/<%= @recruiting_event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recruiting_event/<%= @recruiting_event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recruiting event has many verifies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Verifies
      </li>

      <% @recruiting_event.verifies.each do |verify| %>
        <li class="list-group-item">
          <a href="/verifies/<%= verify.id %>">
            <%= verify.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/verifies/<%= verify.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/verifies/<%= verify.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_verify/<%= verify.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_verify" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for recruiting_event_id -->
      <div class="form-group">
        <label for="recruiting_event_id" class="control-label">
          Recruiting event
        </label>

        <%= select_tag(:recruiting_event_id, options_from_collection_for_select(RecruitingEvent.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Verify
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
