<div class="page-header">
  <h3>Touchpoint #<%= @touchpoint.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @touchpoint.date %></dd>

      <dt>Time</dt>
      <dd><%= @touchpoint.time %></dd>

      <dt>User</dt>
      <dd>
        <% if @touchpoint.user.present? %>
          <a href="/users/<%= @touchpoint.user_id %>">
            <%= @touchpoint.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Contact</dt>
      <dd>
        <% if @touchpoint.contact.present? %>
          <a href="/contacts/<%= @touchpoint.contact_id %>">
            <%= @touchpoint.contact.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Firm</dt>
      <dd>
        <% if @touchpoint.firm.present? %>
          <a href="/firms/<%= @touchpoint.firm_id %>">
            <%= @touchpoint.firm.name %>
          </a>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= @touchpoint.description %></dd>

      <dt>Location</dt>
      <dd><%= @touchpoint.location %></dd>

      <dt>Notes</dt>
      <dd><%= @touchpoint.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/touchpoints" class="btn btn-primary">
        Back
      </a>
      <a href="/touchpoints/<%= @touchpoint.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_touchpoint/<%= @touchpoint.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
